/* máy tính */
@media (min-width: 64em){
    
}
/* tablet */
@media (max-width :63.9375em) and (min-width : 47.5em){

}

/* phone */
@media (max-width: 47.4375em){
    .s-full-width{
        width: 100%;
        text-align: center;
    }
    .s-col-1{
        width: 100%;
    }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav> li {
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav> li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position:initial;
        background: black;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 40px;
    }
    #header .mobile-menu{
        display: block;
    }
    #header .search-button{
        display: none;
    }
    #content .member-mobile{
        width: 100%;
    }
    #content .member-img{
        width: 60%;
        height: 30%;
    }
    #content .member{
        margin-top: 0;
    }
    .contact-form{
        margin-top: 16px;
    }
    .s-email{
        margin-top: 8px;
    }
} 
